.form-field {
  margin-bottom: 15px;
}

.form-label {
  /* margin: 0px; */
}

.contact-form {
  text-align: left;
}

.form-text {
  margin: 0px;
}

.form-hero-btn {
  display: inline-block;
  background-color: #9ac3c2;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-shadow: 0 0 10px rgba(154, 195, 194, 0.5);
  border-color: #9ac3c2;
}

.form-hero-btn:hover {
  background-color: #fff;
  color: #9ac3c2;
  box-shadow: 0 0 10px rgba(154, 195, 194, 1);
}
